/* LinkList.css */
.link-list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

@media (max-width: 768px) {
  .link-list {
    grid-template-columns: 1fr;
  }
}